@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/*font-family: 'Patrick Hand', cursive;*/

#logo{
    font-family: Lobster, cursive; 
    font-size: 50px;
    position: absolute;
    left:75px;
    top: 20px;
}
header h5 {
    position: absolute;
    top: 90px;
    left: 75px;
    color: gray;
}

header>img{
    width: 70px;
    position: absolute;
    top:60px;
}

header , footer{
    position: relative;
    height: 200px;
    border-bottom: solid gray 20px;

}
header div{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate Y(50%);
}
main h1 {
    margin-bottom:0px ;
    font-size: 60px;
}
main h3{
    margin-top: 0px;
    color: gray;
}
#div1 {
    position: relative;
}
#div1 img {
position: absolute;
right: 120px;
bottom: 10px;
width: 20px;
}
#div1 p {
position: absolute;
right: 50px;
bottom: 5px;
font-size: 20px;
margin:0px;
color: gray;
z-index: 1;
}
main>img{
    width: 100%;
}
main p{
    color: gray;
    font-size: 25px;
}
#lastimg{
    margin-top:50px;
    margin-bottom: 50px;
    border-bottom: solid gray 20px;
    padding-bottom: 50px;
}
#div2{
    position: relative;
    margin-bottom: 50px;
}
#div2 h3 {
    font-size: 25px;
    position: absolute;
    left: 90px;
    bottom: 40px;
    margin-bottom: 0px;
}
#div2 p {
    font-size: 20px;
    position: absolute;
    left: 90px;
    bottom: -40px;
    margin-top: 20px;
}
#div2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f05454;
    position: absolute;
    right:0px;
}
footer img{
    display: block;
    margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.line::after{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: -25px;
    top: 0px;
    display: block;
    background: green;
}

footer p {
    text-align: center;
    font-size: 20px;
    color: gray;
}
main{
    position: relative;
}
#ul1{
    position: absolute;
    display: inline-block;
    list-style: none;
    position: absolute;
    left: 100px;
    top: 1800px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    color:#532e1c;

}
#ul2{
    list-style: none;
    position: absolute;
    left: 500px;
    top: 1800px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    color:#532e1c;
}
li{
    padding-left: 10px;
}